; In this file you may define any option that you need
; For example your API key from YouTube
; And don't forget remove .example extenstion from this file, if you want to that everything works!

[YouTube]
key = AIzaSsGU9P2euvVl2N7TSuCMT_adsy27-UOasfI

[Vimeo]
client_id = 7qg8b3aa8cbb7c89862cae3a2fadbf6199bd64fd
client_secret = qsD6dqdfwF4VlEKN/5B79fPGvvtHe+ztbz9ESa+qfIYj9+mVBtoeISDh2Vj6AuS8v+k83VoUUHXzwvhHGSUw8Ef+pmkg4rvmKluseCQ2SBhw6HLJCaJzM0acP4r8B7TF